i.icon-digitroll {
    margin-right: 9px !important;
    margin-left: 8px !important;
}

i.icon-digitroll:before {
    content: '';
    background: url(/plugins/payments.dintero/content/digitroll-icon.png) no-repeat center;
    line-height: 1;
    width: 18px;
    height: 18px;
    display: inline-block;
}